---

import TEST from './TEST.pdf';
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<main class="space-y-1  pt-5">
		</main>
		
Welcome to the About Page


<div class="" ><iframe class="absolute top-20 left-0 w-screen h-full" src={TEST} width="500" height="200" ></iframe></div>
		
	
</Layout>