---

import Products from '../components/Products.astro';

import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to FIRE-TX">
	<main class="space-y-20 mb-40">
		<Products/>
	</main>

</Layout>
