---



import Layout from '../layouts/Layout.astro';



---

<Layout title="Welcome to FIRE-TX">
	<main class="pt-40">

		<h1>Astro JS non-HTML Routes</h1>
 
		<ul>
 
		  <li><a aria-label="Open P D F file" href='/this.pdf'>PDF file Route</a></li>
 
		  <li><a aria-label="Open J S O N file" href="/images/photos/vortex.png">JSON file Route</a></li>
 
		</ul>
 
	  </main>

</Layout>
 