---

import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Fire-TX - Fire Suppression Specialists Australia">
	<main class="space-y-1 mb-10 pt-5">
		</main>
		
		
	
<HeroSection/>


		
	</main>
</Layout>