---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
import Products from '../components/Products.astro';
---

<Layout title="Fire-TX">
	<main class="space-y-10 mb-40 pt-5">
		
		
		
	
		

		
	</main>
</Layout>

