---
import Container from "./Container.astro"

---

<div class="relative py-16">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class=""></div>
    <div class=""></div>
  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center -space-x-2">
        <img
          loading="lazy"
          width="400"
          height="400" 
          src="./images/ftx.png"
          alt="member photo"
          class="h-40 w-40 rounded-full object-cover"
        />
       
       
      </div>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">FIRE SYSTEM SPECIALISTS</h1>
        
          WE ARE HERE
        </p>
      
      </div>
    </div>
  </Container>
</div>