---
import Container from "./Container.astro"

---

<div id="solution">
  <Container>
  
   
      <div class=" h-0.5 opacity:50 bg-gradient-to-r from-gray-100 to-gray-200 "></div>

    
    <div class="space-y-6 my-20 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
            <div class="">
              <img
                src="./images/photos/valve11.png"
                alt="image"
                loading="lazy"
                width=""
                height=""
                class="w-80 mr-20"
                />
            </div>
      <div class="">
        <h2 class=" font-bold">FIRE PROTECTION SPECIALISTS
        </h2>
        <p class="text-black  ">
          Dealing primarily in some of the most remote areas of the country, we strive to break down the barriers associated with achieving site compliance and efficient project delivery to out of the way locations. With a focus on tailoring special hazards systems to protect your high risk assets <br> 
          <br> Our partnerships with leading manufacturers and importers who are at the forefront of fire industry technological advancements ensures that we can find the perfect solution to your special hazard risk
        </p>

     
              
      
      </div>
    </div>
  </Container>
</div>