---
import Container from "./Container.astro"

---

<div id="solution">
  <Container>
  
    
    <div class=" space-y-6 pt-20 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class=" ">
        <img
          src="./images/photos/valve70.png"
          alt="image"
          loading="lazy"
          width=""
          height=""
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class=" font-bold pl-7 first-line:text-3xl  text-black md:text-4xl ">
          Fire Suppression Specialists
        </h2>
        <p class="font-lex my-8  pt-0 pl-7 text-black ">
          Dealing primarily in some of the most remote areas of the country, we strive to break down the barriers associated with achieving site compliance and efficient project delivery to out of the way locations. With a focus on tailoring special hazards systems to protect your high risk assets <br> 
          <br> Our partnerships with leading manufacturers and importers who are at the forefront of fire industry technological advancements ensures that we can find the perfect solution to your special hazard risk
        </p>

     
              
      
      </div>
    </div>
  </Container>
</div>