---
import Container from "./Container.astro"

---

<div id="solution">
  <Container>
  
   
<div class="font-family: 'Heebo Variable' h-0.25 opacity:50 bg-gradient-to-r from-gray-100 to-gray-200 "></div>

<!-- div main grid -->
<div class="pt-20 pb-20 grid sm:grid-cols-1 place-items-center gap-4 lg:grid-cols-2 gap-4 sm:mt-50 ">

  <!-- div one -->
  <div class=""> <img
    src="./images/photos/valve11.png"
    alt="image"
    loading="lazy"
    width="" 
    height=""
    class=""
    />

   
  </div>

  

  

      
  <!-- div two -->
  <div class="lg:order-first "><div class=""><h1 class="pt-5  text-3xl text-center font-[500]">FIRE SUPPRESSION SPECIALISTS
  </h1></div>  
  <p class="text-justify text-black text-center lg:">
          Dealing primarily in some of the most remote areas of the country. Fire-TX strive to break down the barriers associated with achieving site compliance and efficient project delivery to out of the way locations. With a focus on tailoring special hazards systems to protect your high risk assets <br> 
          <br> Our partnerships with leading manufacturers and importers who are at the forefront of fire industry technological advancements ensures that we can find the perfect solution to your special hazard risk
    </p></div>


   
    </div>



    
  </Container>
</div>