---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import { SEO } from "astro-seo";
import '@fontsource-variable/heebo';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
      title="Fire-TX Fire Suppression Specialists Australia, "
      description="Fire Suppression Specialists Darwin Australia suppliers. IG55 systems, Water mist Systems, Argonite."
      openGraph={{
        basic: {
          title: "Fire-TX pty ltd Fire Suppression suppliers and tech support. Specialising in hazardous areas and remote sites. Darwin Australia ",
          type: "A type.",
          image: "./images/photos/valve11.png",
        }
      }}
      twitter={{
        creator: "@spagerio"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "./images/photos/valve12.png",
          },
          { name: "twitter:title", content: "Fire-TX Pty Ltd" },  
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        
        

        <link href="" rel="stylesheet" />
    </head>
    <body class="bg-white ">
        <AppHeader />
        <slot />
        <AppFooter />
    
    </body>
</html>
<style>
    html {
        font-family: 'Heebo Variable', sans-serif;
        
        font-weight: 100;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style> 
